server {
    listen 80;
    server_name localhost;
    root /usr/share/nginx/html;

    location ~ ^${BASENAME}/assets/ {
        rewrite ^${BASENAME}(.*)$ $1 break;
    }

    location ${BASENAME} {
        index index.html index.htm;
        try_files $uri $uri/ /index.html;
    }
}
